@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #555;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #FF008A;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #aE006D;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00A3FF;
}

p {
  font-size: 1rem;
  font-weight: bold;
  color: #42FF00;
}

button {
  color: #348;
  font-size: 1rem;
  font-weight: bold;
}
